@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div>
        <label for="username">Username:</label>
        @Html.TextBox("username")
    </div>

    <div>
        <label for="password">Password:</label>
        @Html.Password("password")
    </div>

    <input type="submit" value="Register" />
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div>
        <p>@ViewBag.ErrorMessage</p>
    </div>
}